<h2>Formular adaugare proiect</h2>
<form method="post" action="/Projects/New">
    <label>Titlu</label>
    <br />
    <input type="text" class="form-control" name="title" />
    <br />
    <label>Descriere</label>
    <br />
    <input type="text" class="form-control" name="content" />
    <br />
    <label>Data Incepere</label>
    <br />
    <input type="datetime-local" class="form-control" name="start_date"
    <br /><br />
    <label>Data Finalizare</label>
    <br />
    <input type="datetime-local" class="form-control" name="end_date" />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Adaugă proiect</button>
</form>